<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS Lab</title>
    <link rel="stylesheet" href="../../public/css/normalize.css">
    <link rel="stylesheet" href="../../public/css/style-icon.css">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="icon" href="../../public/img/CSS-AWESOME-LOGO.png" />
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="index.html"><img src="../../public/img/CSS-AWESOME-LOGO.png" alt="le logo" class="logo"></a></li>
                <li>
                    <div class="searchbar">
                        <input type="text">
                        <div class="magnifying-glass">
                            <div class="magnifying-glassPart1"></div>
                            <div class="magnifying-glassPart2"></div>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="assets/vues/patreon.html" class="patreonMember">
                        <div class="patreon">
                            <div class="patreonPart1"></div>
                            <div class="patreonPart2"></div>
                        </div>
                        <p>Patreon Contributor</p>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="all-icon">
            <a href="#" class="box lab">
                <div class="dowload">
                    <div class="dowloadPart1"></div>
                    <div class="dowloadPart2"></div>
                    <div class="dowloadPart3"></div>
                    <div class="dowloadPart4">
                        <div class="dowloadPart5"></div>
                    </div>
                </div>
            </a>
        </section>
        
    </main>
</body>
</html>