body{
    background-color: #B1DDF1;
}
header{
    background-color: #6DA1F1;
    border-radius: 0 0 10px 10px;
    padding: 1vw 2vw;
}
ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
li{
    list-style-type: none;
    width: 25vw;
}
.logo{
    width: 5vw;
}
.searchbar{
    display: flex;
    width: fit-content;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    padding: 0 0.5vw;
    background-color: white;
    margin: 1vw 0 0 1vw;
}
.searchbar input{
    border: none;
}
.searchbar input:focus-visible{
    outline: none;
}
.searchbar .magnifying-glass{
    --size-magnifying-glass: 1vw;
    margin: 1% 0 1% 0;
}

.patreonMember{
    width: 68%;
    padding: 1%;
    border-radius: 10px;
    text-decoration: none;
    display: flex;
    background-color: white;
}
.patreonMember .patreon{
    --size-patreon: 2vw;
    --color-patreon: #ff424d;
}
.patreonMember p{
    text-transform: uppercase;
    color: black;
    font-size: 1.2vw;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1% 0 0 1%;
}